.confirmBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
    z-index: 3;
}

.confirmFrame {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 1000px;
    min-height: 700px;
    padding: 1em;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    visibility: hidden;
    z-index: 4;
}