.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:disabled + .slider {
    background-color: #a6a4a4;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.on{
    display: none;
}

.notavilable{
    display: none;
}

.on, .off, .notavilable{
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+ .slider .on{
    display: block;
}

input:checked + .slider .off{
    display: none;
}
input:disabled + .slider .notavilable{
    display: block;
}

input:disabled + .slider .off{
    display: none;
}

input:disabled + .slider .on{
    display: none;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.confirmBox{
    position: fixed;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
    background-color: black;
    opacity: 0.6;
    visibility: hidden;
	z-index: 3;
}

.confirmFrame {
    position: absolute;
    top: 50px;
    left: 50%;
    max-width: 1000px;
    height: 700px;
    bottom: 50px;
    padding: 1em;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    visibility: hidden;
	z-index: 4;
}
.confirmFrame-dark{
    position: absolute;
    top: 50px;
    left: 50%;
    max-width: 1000px;
    height: 700px;
    bottom: 50px;
    padding: 1em;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: #1e2833;
    visibility: hidden;
    z-index: 4;
}
